{% extends 'navbar.html' %}

{% block title %}Listar Produtos{% endblock %}

{% block content %}
<h2>Lista de Produtos</h2>
<table>
    <tr>
        <th>Nome</th>
        <th>Quantidade</th>
        <th>Preço</th>
    </tr>
    {% for produto in produtos %}
    <tr>
        <td>{{ produto.nome }}</td>
        <td>{{ produto.quantidade }}</td>
        <td>R$ {{ produto.preco|floatformat:2 }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3">Nenhum produto cadastrado.</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
